# Runtime Python 3.11 (disarankan) untuk PySpark 3.5
# Pipeline: Bronze -> Silver -> Gold -> Feature Store -> ML -> Prediction
pyspark==3.5.3
py4j==0.10.9.7
pandas==2.2.3
numpy==1.26.4
pyarrow==17.0.0
openpyxl==3.1.5
et-xmlfile==2.0.0
